{% if add_deployment_setup %}deployment{% endif %}/templates/step_function_definition.yaml
---
StartAt: ExtractContextDetails
States:
  ExtractContextDetails:
    Type: Pass
    Parameters:
      arn.$: "$$.Execution.Id"
    ResultPath: $.contextDetails
    Comment: Extract the execution ARN and store in contextDetails.
    Next: Validate input

  Validate input:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: "$.Payload"
    Parameters:
      Payload.$: "$"
      FunctionName: ${ValidateInputLambda}
    Retry:
    - ErrorEquals:
      - Lambda.ServiceException
      - Lambda.AWSLambdaException
      - Lambda.SdkClientException
      - Lambda.TooManyRequestsException
      IntervalSeconds: 2
      MaxAttempts: 6
      BackoffRate: 2
    Catch:
    - ErrorEquals:
      - ManifestValidationError
      Next: ValidationError
    Comment: Invoke Lambda to validate input. Retry on specific Lambda errors. Catch validation errors.
    Next: Process the payload
  ValidationError:
    Type: Fail
    Error: ManifestValidationError
    Cause: "The Lambda function returned a ManifestValidationError."
    Comment: "Fail state for manifest validation errors."
  Process the payload:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    OutputPath: "$.Payload"
    Parameters:
      Payload.$: "$"
      FunctionName: ${ProcessManifestLambda}
    Retry:
    - ErrorEquals:
      - Lambda.ServiceException
      - Lambda.AWSLambdaException
      - Lambda.SdkClientException
      - Lambda.TooManyRequestsException
      IntervalSeconds: 2
      MaxAttempts: 6
      BackoffRate: 2
    Comment: this is a test comment
    Next: Map the process
  Map the process:
    Type: Map
    ToleratedFailurePercentage: 50
    ItemsPath: "$"
    End: true
    Comment: Distributed map processing. Iterates over each item, processing it based on defined steps.
    ItemReader:
      Resource: arn:aws:states:::s3:listObjectsV2
      Parameters:
        Bucket.$: "$.body.Bucket"
        Prefix.$: "$.body.Prefix"
    ItemProcessor:
      ProcessorConfig:
        Mode: DISTRIBUTED
        ExecutionType: STANDARD
      StartAt: Get config from S3
      States: #TODO: abstract this to another template and join at build time using Rain?
        Get config from S3:
          Type: Task
          Next: What action is required?
          Comment: Retrieve configuration from S3 based on the provided key.
          Parameters:
            Bucket: <<<ARTIFACT_BUCKET>>>
            Key.$: "$.Key"
          Resource: arn:aws:states:::aws-sdk:s3:getObject
          ResultSelector:
            Parameters.$: States.StringToJson($.Body)
        What action is required?:
          Type: Choice
          Choices:
          - Variable: "$.Parameters.Action"
            StringEquals: Create
            Next: Check is stack already exists
          - Variable: "$.Parameters.Action"
            StringEquals: Delete
            Next: DeleteStack
          Default: Check is stack already exists
        Check is stack already exists:
          Type: Task
          Next: Can we update the stack?
          Parameters:
            StackName.$: States.Format('{}', $.Parameters.StackPrefix)
          Resource: arn:aws:states:::aws-sdk:cloudformation:describeStacks
          Catch:
          - ErrorEquals:
            - States.TaskFailed
            Next: Create the stack
            Comment: Stack does not exist produces and exception
            ResultPath:
          ResultPath: "$.StackStatus"
          ResultSelector:
            Status.$: "$.Stacks[0].StackStatus"
          Comment: If it does not exist, this returns an exception
        Can we update the stack?:
          Type: Choice
          Choices:
          - Or:
            - Variable: "$.StackStatus.Status"
              StringEquals: CREATE_COMPLETE
            - Variable: "$.StackStatus.Status"
              StringEquals: UPDATE_COMPLETE
            Next: Update the stack
          Default: Pass
        Update the stack:
          Type: Task
          Parameters:
            StackName.$: States.Format('{}', $.Parameters.StackPrefix)
            TemplateURL.$: States.Format('{}', $.Parameters.TemplateUrl)
            Capabilities:
            - CAPABILITY_AUTO_EXPAND
            - CAPABILITY_IAM
            Parameters:
            - ParameterKey: Environment
              ParameterValue.$: States.Format('{}', $.Parameters.Parameters.Environment)
          Resource: arn:aws:states:::aws-sdk:cloudformation:updateStack
          Next: Wait for Create / Update action
          ResultPath:
        Create the stack:
          Type: Task
          Next: Wait for Create / Update action
          Parameters:
            StackName.$: States.Format('{}', $.Parameters.StackPrefix)
            TemplateURL.$: States.Format('{}', $.Parameters.TemplateUrl)
            Capabilities:
            - CAPABILITY_AUTO_EXPAND
            - CAPABILITY_IAM
          Resource: arn:aws:states:::aws-sdk:cloudformation:createStack
          ResultPath:
        Wait for Create / Update action:
          Type: Wait
          Seconds: 10
          Next: Check CloudFormation action status
        Check CloudFormation action status:
          Type: Task
          Next: Decide what to do based on current CloudFormation execution status
          Parameters:
            StackName.$: States.Format('{}', $.Parameters.StackPrefix)
          Resource: arn:aws:states:::aws-sdk:cloudformation:describeStacks
          ResultSelector:
            Status.$: "$.Stacks[0].StackStatus"
          ResultPath: "$.StackStatus"
        Decide what to do based on current CloudFormation execution status:
          Type: Choice
          Choices:
          - Or:
            - Variable: "$.StackStatus.Status"
              StringEquals: CREATE_IN_PROGRESS
            - Variable: "$.StackStatus.Status"
              StringEquals: UPDATE_IN_PROGRESS
            Next: Wait for Create / Update action
          - Or:
            - Variable: "$.StackStatus.Status"
              StringEquals: CREATE_COMPLETE
            - Variable: "$.StackStatus.Status"
              StringEquals: UPDATE_COMPLETE
            Next: Pass
          Default: Fail
        Pass:
          Type: Pass
          End: true
        Fail:
          Type: Fail
        DeleteStack:
          Type: Task
          Parameters:
            StackName.$: States.Format('{}', $.Parameters.StackPrefix)
          Resource: arn:aws:states:::aws-sdk:cloudformation:deleteStack
          Next: Wait for Delete action
          ResultPath:
        Wait for Delete action:
          Type: Wait
          Seconds: 10
          Next: DescribeStacks
        DescribeStacks:
          Type: Task
          Parameters:
            StackName.$: States.Format('{}', $.Parameters.StackPrefix)
          Resource: arn:aws:states:::aws-sdk:cloudformation:describeStacks
          ResultSelector:
            Status.$: "$.Stacks[0].StackStatus"
          ResultPath: "$.StackStatus"
          Next: What is stack deletion status?
          Catch:
          - ErrorEquals:
            - States.TaskFailed
            Next: Pass
        What is stack deletion status?:
          Type: Choice
          Choices:
            - Variable: "$.StackStatus.Status"
              StringEquals: DELETE_IN_PROGRESS
              Next: Wait for Delete action
          Default: Pass
          Comment: Decide the next action based on the CloudFormation stack's deletion status.
